body {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.featured{
  text-align: center;
  
}
/*====== Media-Queries ======*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

      .featured{
        text-align: center;
      }


    }
  



