.movie-card {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  border-radius: 5px;
}
.movie-card img {
  width: 100%;
  margin-bottom: 20px;
}

.movie-card:hover,
.active {
  box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.sinopsis {
  font-size: medium;
}

.more {
  color: blue;
}
.more:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}


@media (min-width: 320px) and (max-width: 480px) {

}